<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="container mt-4">
        <section>
            <table class="table table-striped" th:if="${bookings}">
                <thead>
                <tr>
                    <th scope="col">Attendee Name</th>
                    <th scope="col">Client IP Address</th>
                    <th scope="col">Booking for Event</th>
                    <th scope="col">Number of Tickets</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booking : ${bookings}">
                    <td th:text="${booking.getAttendeeName()}">Attendee Name</td>
                    <td th:text="${booking.getAttendeeAddress()}">Client IP Address</td>
                    <td th:text="${booking.getEventName()}">Event Name</td>
                    <td th:text="${booking.getNumberOfTickets()}">Number of Tickets</td>
                </tr>
                </tbody>
            </table>

            <br/>
            <div th:if="${bookings == null || bookings.size() == 0}">
                <h3>No booking has been made yet. Please select an event and proceed with your booking.</h3>
            </div>
        </section>
        <a type="button" class="btn btn-primary" href="/events">Back</a>
    </div>
    </br>
</th:block>