<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="container mt-4">
        <section>
            <h2>Search for Events</h2>
            <form th:action="@{/events}" th:method="POST">
                <div class="form-group">
                    <label for="searchText">Event name contains:</label>
                    <input type="text" id="searchText" name="searchText" class="form-control"
                           placeholder="Enter event name">
                </div>
                <div class="form-group">
                    <label for="minRating">Minimum Rating:</label>
                    <input type="number" id="minRating" name="minRating" class="form-control" min="0" max="10"
                           placeholder="Enter minimum rating">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </section>
        <br/>

        <section>
            <h2>Filter by Location</h2>
            <form th:action="@{/events}" th:method="GET">
                <div class="form-group">
                    <select name="locationId" class="form-control">
                        <option value="">All Locations</option>
                        <option th:each="loc : ${locations}"
                                th:value="${loc.id}"
                                th:text="${loc.name}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </section>


        <div th:if="${hasError}">
            <div class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
        </div>

        <section>
            <h2>Choose an Event</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Event Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Popularity Score</th>
                    <th scope="col">Location</th>
                    <th scope="col">Category</th>
                    <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="event : ${events}">
                    <td class="center-radio">
                        <input type="radio" class="form-check-input event-radio" th:value="${event.name}"
                               name="eventName" id="event_${event.id}"/>
                    </td>
                    <td th:text="${event.getName()}"></td>
                    <td th:text="${event.getDescription()}"></td>
                    <td th:text="${event.getPopularityScore()}"></td>
                    <td th:text="${event.getLocation() != null}
                            ? ${event.getLocation().getName()} : 'No Location'"></td>
                    <td th:text="${event.getCategory() != null}
                            ? ${event.getCategory().getName()} : 'No Category'"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/events/edit-form/{id}(id=${event.getId()})}" class="btn btn-info btn-sm">
                            Edit
                        </a>
                        <form th:action="@{/events/delete/{id}(id=${event.getId()})}" method="POST"
                              class="d-inline-block">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </form>
                        <div th:if="${event.isDisabled} == false">
                            <form th:action="@{/events/increment/{id}(id=${event.getId()})}" method="post">
                                <button type="submit" class="btn btn-success btn-sm">Increment</button>
                            </form>
                            <form th:action="@{/events/decrement/{id}(id=${event.getId()})}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Decrement</button>
                            </form>
                        </div>
                        <div th:if="${event.isDisabled} == true"></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <section>
                    <a href="/events/add-form" class="btn btn-dark">Add New Event</a>
                </section>
            </th:block>
            <br/><br/>
            <form th:action="@{/eventBooking}" th:method="POST">
                <h3>Choose Number of Tickets</h3>
                <input type="hidden" name="eventName" id="eventName">
                <input type="number" name="numberOfTickets" class="form-control" min="1" max="10"
                       placeholder="Enter number of tickets" required="">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </section>

    </div>

</th:block>